definitions:
    caches:
        yarn:
            key:
                files:
                    - yarn.lock
            path: ./node_modules

        composer:
            key:
                files:
                    - composer.lock
            path: vendor

    steps:
        php-cs-fixer-step: &php-cs-fixer-step
            image: php:8.3-cli
            name: PHP CS Fixer
            caches:
                - composer
            script:
                - apt-get update && apt-get install -y unzip
                - curl -sS https://getcomposer.org/installer | php -- --install-dir=/usr/local/bin --filename=composer
                - COMPOSER_ALLOW_SUPERUSER=1 composer install --no-progress
                - vendor/bin/php-cs-fixer check

        ts-lint-step: &ts-lint-step
            image: node:23-slim
            name: ESLint
            caches:
                - yarn
            script:
                - corepack enable
                - yarn install --immutable
                - yarn lint

        ts-type-check-step: &ts-type-check-step
            image: node:23-slim
            name: TypeScript type check
            caches:
                - yarn
            script:
                - corepack enable
                - yarn install --immutable
                - yarn type-check

pipelines:
    default:
        - parallel: &qa-steps
              - step: *php-cs-fixer-step
              - step: *ts-lint-step
              - step: *ts-type-check-step
